.header {
  background-color: $color-blue-dark;

  &-title {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 2rem;

    @include respond(phone) {
      padding: 1rem;
      font-size: 1.8rem;
    }
  }
}