// COLORS
$color-blue-dark: #03045e;
$color-blue: #00b4d8;
$color-blue-lighter: #b3dce5;
$color-white: #ecf7fa;
$color-yellow: #ffc803;
$color-yellow-dark: #fca311;


// FONT
$font-family: system-ui, sans-serif;
$subtitle: 1.2rem;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  color: $color-blue-dark;
  text-align: center;
}

input {
  padding: 0.8rem;
  margin: 1rem;
  outline: none;
  font-size: 1rem;
  background-color: $color-white;
  border: 1px solid $color-blue-lighter;
  border-radius: 5px;
}

select {
  padding: 0.8rem;
  margin: 1rem;
  font-size: 1rem;
  background-color: $color-white;
  border: 1px solid $color-blue-lighter;
  outline: none;
  border-radius: 5px;
}

button {
  padding: 1rem;
  border: 1px solid $color-yellow;
  border-radius: 30px;
  background-color: $color-yellow;
  color: $color-blue-dark;
  cursor: pointer;
  margin: 2rem;
  font-size: 1.3rem;
  outline: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2);

  &:hover {
    background-color: $color-yellow-dark;
  }
}

.icon {
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  color: $color-blue;
  text-align: center;
}

.error {
  color: darkred;
}

svg {
  width: 25rem;

  @include respond(phone){
   width: 18rem;
  }
}
