.form {
  &-subtitle {
    padding: 2rem;
    font-size: $subtitle;
    color: $color-blue-dark;
  }
}

.totalCredit {
  padding-top: 1rem;
  font-size: $subtitle;
  color: $color-blue;

  &-amount {
    font-weight: 600;
    font-size: 1.3rem;
    color: $color-blue-dark;
  }
}

.cards {
  padding-top: 2rem;
  max-width: 80rem;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  &-container {
    align-self: start;
    background-color: $color-white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    font-size: 0.95rem;

    &-title {
      text-shadow: .5rem 1rem 2rem rgba(black, .2);
      font-size: $subtitle;
      padding: 1rem 3rem;
    }

    &-button {
      border-radius: 5px;
      border: 1px solid $color-blue;
      background-color: $color-blue;
      font-size: 1rem;
      color: $color-white;
      padding: .5rem 1rem;
      margin: 1rem;

      &:hover {
        background-color: $color-yellow;
        border: 1px solid $color-yellow;
      }

      &-selected {
        background-color: $color-yellow;
        border-radius: 5px;
        padding: .5rem 1rem;
        margin: 1rem;
        color: $color-blue-dark;
        font-size: 1rem;
      }
    }

    &-details {
      text-align: left;

      &-item {
        font-weight: 700;
        color: $color-blue-dark;
      }
      &-icon {
        text-align: center;
        cursor: default;
      }
    }
  }
}